h1= title
#logs
    table
        thead
            tr
                th Date/Time
                th Level
                th IP
                th User Agent
                th Message
        tbody
            each log in logs
                if log.level === 'ERROR'
                    tr
                        td.error #{log.dateTime}
                        td.error #{log.level}
                        td.error #{log.clientIP}
                        td.error #{log.userAgent}
                        td.error #{log.message}
                else
                    tr
                        td #{log.dateTime}
                        td #{log.level}
                        td #{log.clientIP}
                        td #{log.userAgent}
                        td #{log.message}